%h3 Listing places
.panel.panel-default
  %table.table.table-striped.table-hover
    %thead
      %tr 
        %th designator
        %th footprint name
        %th mid_x
        %th mid_y
        %th ref_x
        %th ref_y
        %th pad_x
        %th pad_y
        %th tb
        %th rotation
        %th comment
        %th unit
    %tbody
      - @board.places.each do |p|
        %tr
          %td= p.designator
          %td= p.footprint.name
          %td= p.mid_x
          %td= p.mid_y
          %td= p.ref_x
          %td= p.ref_y
          %td= p.pad_x
          %td= p.pad_y
          %td= p.tb
          %td= p.rotation
          %td= p.comment
          %td= p.unit
