%h3 List of components
%table.table
  %thead
    %tr 
      %th designator
      %th footprint
      %th mid_x
      %th mid_y
      %th ref_x
      %th ref_y
      %th pad_x
      %th pad_y
      %th tb
      %th rotation
      %th comment
      %th unit
  %tbody
    - @board.components.each do |c|
      %tr
        %td= c.designator
        %td= c.footprint
        %td= c.mid_x
        %td= c.mid_y
        %td= c.ref_x
        %td= c.ref_y
        %td= c.pad_x
        %td= c.pad_y
        %td= c.tb
        %td= c.rotation
        %td= c.comment
        %td= c.unit