%h3 Listing footprints 

.panel.panel-default.col-md-8
  %div{style: 'font-weight:bold;margin:10px 0px;'} Import footprints (.csv format)

  = form_tag({controller: "boards", action: "load_footprint", method: "post"}, {multipart: true}) do
    = hidden_field :board_id, @board.id
    = file_field_tag :file 
    %div{style: 'margin: 10px 0px;'}
    = submit_tag "import", class: 'btn btn-default import_footprint_btn'
    %div{style: 'margin: 10px 0px;'}

.panel.panel-default.col-md-8
  %table.table.table-striped.table-hover
    %thead
      %tr 
        %th name
        %th outward_width
        %th outward_depth
        %th unit
    %tbody
      - @footprints.each do |f|
        %tr
          %td.col-md-2= f.name
          %td.col-md-2= f.outward_width
          %td.col-md-2= f.outward_depth
          %td.col-md-2= f.unit
