%h2 Selected board: #{@board.name}

= link_to '<< Back to top', boards_path, method: :get, class: "btn btn-default"

%ul.nav.nav-tabs{style: 'margin-top: 20px;'}
  %li.active
    %a{"data-toggle" => "tab", :href => "#tab_place"} List of places
  %li
    %a{"data-toggle" => "tab", :href => "#tab_footprint"} List of Footprints
  %li
    %a{"data-toggle" => "tab", :href => "#tab_gcode"} Generate G-code
  %li
    %a{"data-toggle" => "tab", :href => "#tab_jog"} Jog control
  %li
    %a{"data-toggle" => "tab", :href => "#tab_image"} Image processor
#myTabContent.tab-content
  #tab_place.tab-pane.in.active
    = render partial: 'list_places'
  #tab_footprint.tab-pane
    = render partial: 'list_footprints'
  #tab_gcode.tab-pane
    = render partial: 'generate_gcode'
  #tab_jog.tab-pane
    = render partial: 'jog'
  #tab_image.tab-pane
    = render partial: 'image_process'