%h2 Selected board: #{@board.name}

= link_to '<< Back to top', boards_path, method: :get, class: "btn btn-default"

%ul.nav.nav-tabs{style: 'margin-top: 20px;'}
  %li.active
    %a{"data-toggle" => "tab", :href => "#tab1"} List of places
  %li
    %a{"data-toggle" => "tab", :href => "#tab5"} List of Footprints
  %li
    %a{"data-toggle" => "tab", :href => "#tab2"} Generate G-code
  %li
    %a{"data-toggle" => "tab", :href => "#tab3"} Jog control
  %li
    %a{"data-toggle" => "tab", :href => "#tab4"} Image processor
#myTabContent.tab-content
  #tab1.tab-pane.in.active
    = render partial: 'list_places'
  #tab5.tab-pane
    = render partial: 'list_footprints'
  #tab2.tab-pane
    = render partial: 'generate_gcode'
  #tab3.tab-pane
    = render partial: 'jog'
  #tab4.tab-pane
    = render partial: 'image_process'