!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HALCYON
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid 
        .navbar-header
          / %a.navbar-brand{:href => "#"} HALCYON
          %a.navbar-brand HALCYON
        %ul.nav.navbar-nav
          %li.active
            = link_to 'Home', boards_path, method: :get
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Connect
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Device
              %li
                %a{:href => "#"} Emulator
              %li.divider{:role => "separator"}
              %li
                %a{:href => "#"} Reset connection

          / %li
          /   %a{:href => "#"} Page 2
          / %li
          /   %a{:href => "#"} Page 3
    #content-body 
      = yield
      .ajax-request